
/* ----------- Global Styles ---------------- */
body {
    font-family: 'Karla', sans-serif;
    background: #fff;
    color: #313131;
    font-size: 22px;
    line-height: 1.409em;
    padding: 0;
    position: relative;
    right: 0px;
    overflow-x: hidden;
    transition: all 0.3s ease 0s;
}

a, a:visited {
   color: #D23146;
   text-decoration: none;
   -moz-transition: all 0.1s linear 0s;
   -webkit-transition: all 0.1s linear 0s;
   -o-transition: all 0.1s linear 0s;
   transition: all 0.1s linear 0s;
}

a:hover, a:active {
   color: #7F7F7F;
   text-decoration: underline;
}

a:focus {
    outline: thin dotted #333333;
    outline-offset: 0px;
}

.button, .button:visited, .button a, .button a:visited {
    display: block;
    background: #CC202E;
    padding: 5px 30px;
    float: left;
    font-family: 'Merriweather', serif;
    font-size: 0.727em;
    font-weight: 300;
    color: #fff;
    border-radius: 0px;
    text-align: center;
    margin: 10px 0;
    border: none;
    text-transform: uppercase;
}

.button.large, .button.large:visited {
    font-size: 1em;
    padding: 10px 30px;;
}

.button:hover, .button a:hover, .button:focus, .button a:focus {
    color: #fff;
    text-decoration: none;
    background: #BD935F;
}

p span.button, p span.button:hover, p span.button:focus {
    background: none;
    display: table;
    content: "";
    float: none;
    clear: both;
    margin: 0;
    padding: 0;
}

p span.button a, p span.button a:visited {
    float: left;
    margin: 0;
}

.button a, .button a:visited {
    display: block;
    background: #CC202E;
    padding: 5px 30px;
    float: left;
    font-family: 'Merriweather', serif;
    font-size: 0.727em;
    font-weight: 300;
    color: #fff;
    border-radius: 0px;
    text-align: center;
    margin: 10px 0;
    border: none;
    text-transform: uppercase;
}

.button a:hover, .button a:hover, .button a:focus {
    color: #fff;
    text-decoration: none;
    background: #BD935F;
}

.inverse-button, .inverse-button:visited {
    display: block;
    background: #BD935F;
    padding: 5px 30px;
    float: left;
    font-family: 'Merriweather', serif;
    font-size: 0.727em;
    font-weight: 300;
    color: #fff;
    border-radius: 0px;
    text-align: center;
    margin: 10px 0;
    border: none;
    text-transform: uppercase;
}

.inverse-button:hover, .inverse-button:focus {
    color: #fff;
    text-decoration: none;
    background: #CC202E;
}

.outline-button, .outline-button:visited {
    display: block;
    background: transparent;
    padding: 5px 30px;
    float: left;
    font-family: 'Merriweather', serif;
    font-size: 0.727em;
    font-weight: 300;
    color: #CDA06B;
    border-radius: 5px;
    text-align: center;
    margin: 10px 0;
    border: 1px solid #fff;
    text-transform: uppercase;
}

.outline-button:hover, .outline-button a:hover {
    border: 1px solid #B31922;
    background: #B31922;
    color: #fff;
    text-decoration: none;
}

h1 {
    font-size: 1.773em;
    margin: 0 0 20px 0;
    font-family: 'Merriweather', serif;
    color: #303030;
    font-weight: 300;
    line-height: 1.409em;
}

.formsTitle {
    display: none;
}

h2 {
    font-size: 1.364em;
    margin: 0 0 20px 0;
    font-weight: 400;
    line-height: 1.409em;
    font-family: 'Merriweather', serif;
}

.heading {
    margin: 0 0 20px 0;
    line-height: 1.409em;
    font-size: 1.364em;
    font-weight: 400;
    font-family: 'Merriweather', serif;
}

h3 {
    font-size: 1.136em;
    margin: 0 0 20px 0;
    font-weight: 400;
    line-height: 1.409em;
    font-family: 'Merriweather', serif;
}

.sub-heading {
    font-size: 1.136em;
    margin: 0 0 20px 0;
    line-height: 1.409em;
    font-weight: 400;
    color: #62492a;
    font-family: 'Merriweather', serif;
}

.paragraph, p {
    margin: 0 0 20px 0;
}

.border {
    padding: 2px;
    border: 1px solid #ccc;
    background: #fff;
    -moz-box-shadow: 0px 0px 2px #ccc;
    -webkit-box-shadow: 0px 0px 2px #ccc;
    box-shadow: 0px 0px 2px #ccc;
}

.left {
    float: left;  
    margin: 0 20px 20px 0;
}

.right {
    float: right; 
    margin: 0 0 20px 20px;
}

img {
    max-width: 100%;
}

form input[type="checkbox"] {
    border: none;
}

hr {
    color: #000;
    background: #000;
    height: 1px;
    margin: 30px 0;
    clear: both;
    border: none;
  }
  
.clear {
    clear: both;
    float: none;
}

.outer-center {
    float: right;
    right: 50%;
    position: relative;
}
.inner-center {
    float: right;
    right: -50%;
    position: relative;
}

.meta {
    font-size: smaller;
    font-style: italic;
    margin: 0 0 5px 0;
}

.addthis_sharing_toolbox {
    border-top: 1px solid #ccc;
    padding: 15px 0 0 0;
}

.addthis_sharing_toolbox p {
    margin: 0;
    font-style: italic;
}


/* -------------- Header ---------------- */

header nav ul ul, footer ul ul {
    display: none;
}

body.active {
    position: relative;
    right: 260px;
    transition: right 0.3s ease 0s;
}

header {
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    height: 75px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    transition: all 0.3s ease 0s;
    z-index: 1000;
}

body.active header {
    left: -260px;
    transition: all 0.3s ease 0s;
}

.logo-wrapper {
    float: left;
    height: 75px;
    position: relative;
}

.logo-arrow {
    bottom: -23px;
    left: 50px;
    position: absolute;
}

.logo {
    float: left;
    display: block;
    margin: 15px 0 0;
    position: relative;
    width: 200px;
    z-index: 1000;
}

.navbar-default {
    background-color: transparent;
    border: none !important;
}

.navbar {
    border: none !important;
    margin-bottom: 0px;
    min-height: auto;
    position: relative;
    z-index: 500;
    min-height: 0px;
}

.navbar-header {
    position: relative;
}

.navbar-toggle {
    background-color: none;
    border: none;
    border-radius: 0;
    float: none;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding: 0;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 35px;
    height: 40px;
    padding: 0px;
    z-index: 1001;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-toggle:hover {
    background: none;
    opacity: .9;
}

.navbar-toggle .icon-bar {
    border-radius: 0px;
    display: block;
    height: 3px;
    margin: 7px 0;
    width: 35px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #BD9560;
}

.nav {
    list-style: none outside none;
    margin: 0 0 20px 0;
    padding-left: 0;
}

.nav > li {
    display: block;
    position: relative;
}

.nav > li > a, .nav > li > a:visited {
    /*border-bottom: 1px solid #4F3A3C;*/
    color: #fff;
    display: block;
    font-size: 0.818em;
    padding: 25px 10px;
    position: relative;
    text-transform: uppercase;
    transition: none;
}

.nav > li a.first {
    border-top: 1px solid #4F3A3C;
}

/*.nav > li > a:hover, .nav > li > a:focus, .nav > li.menuItemHighlight a {
    background: url(graphics/images/nav-arrow.png) no-repeat 95% 45% #982A33;
    color: #fff;
    text-decoration: none;
}*/

.mobi-search-wrapper {
    margin: 0 15px 0 0;
    position: relative;
}

#searchBoxInput {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    color: #D8CCB0;
    font-size: 0.818em;
    line-height: 1.4em;
    padding: 0px 35px 0px 13px;
    text-transform: uppercase;
    width: 100%;
}

.search-button {
    border: none;
    background: transparent;
    position: absolute;
    right: 9px;
    top: 0px;
}

/* -------------- END OF Header ---------------- */
/* --------------- Footer --------------- */

footer {
    background: rgba(25,25,25,.9);
    font-size: 0.636em;
    /*margin-bottom: 0px 0 0 0;*/
    /*position : absolute;*/
    bottom : 0;
    padding: 50px 0 50px;
}

.footer-logo, .footer-logo:visited {
    background: url(graphics/images/footer-logo.png) no-repeat left top;
    display: block;
    height: 65px;
    margin: 0 auto 20px;
    position: relative;
    width: 62px;
}

.footer-logo span, .footer-logo:visited span {
    background: url(graphics/images/footer-logo.png) no-repeat right top;
    content: "";
    display: block;
    height: 65px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: all .1s linear 0s;
    width: 62px;
}

.footer-logo:hover span, .footer-logo:focus span {
    opacity: 1;
}

.social {
    list-style-type: none;
    margin: 0 0 20px 0;
    padding: 0;
    text-align: center;
}

.social li {
    display: inline-block;
    margin: 0 2px;
}

.social a, .social a:visited {
    background: #fff;
    border-radius: 30px;
    color: #202020;
    display: inline-block;
    height: 30px;
    width: 30px;
    padding: 0;
    text-align: center;
}

.social a:hover, .social a:focus {
    background: #EDBC7F;
    color: #202020;
    text-decoration: none;
}

address {
    color: #fff;
    font-style: normal;
    font-family: 'Merriweather', serif;
    margin: 0 0 7px 0;
    text-align: center;
}

footer p {
    color: #fff;
    font-family: 'Merriweather', serif;
    margin: 0;
    text-align: center;
}

footer p a, footer p a:visited {
    color: #fff;
}

footer p a:hover, footer p a:focus {
    color: #D02029;
    text-decoration: none;
}

.copyright span {
    margin: 0 6px;
}
/* --------------- END OF Footer --------------- */

/* --------------------------- Large devices (large desktops, 1200px and up) ------------------------ */
@media (min-width: 1200px) { 
    
    
/* ------------ Large General Styles -------------- */

.left {
    float: left;  
    margin: 0 60px 20px 0;
}

.right {
    float: right; 
    margin: 0 0 20px 60px;
}
/* ------------ END OF Large General Styles -------------- */

/* ------------- Header Large ------------ */

header {
    height: 85px;
}

.logo {
    margin: 20px 0 0 20px;
    width: auto;
}

.logo-wrapper {
    height: 85px;
}

.logo-arrow {
    bottom: -43px;
    left: 94px;
}

.search-wrapper {
    margin: 15px 0 0;
    padding: 15px 0 15px 20px;
    width: 220px;
}

.nav {
    margin: 25px 0 0 0;
}

.nav > li > a, .nav > li > a:visited {
    margin: 0 15px;
}
/* ------------- END OF Header Large ------------ */

/* -------------- Home page Large ------------- */

.feature {
    min-height: 820px;
    padding: 260px 0 0px 50px;
}

.feature h1 {
    font-size: 2.273em;
}

.feature h1 span {
    font-size: 1.500em;
}

.feature p {
    font-size: 0.864em;
}

.cta-wrapper {
    background: url(graphics/images/home-cta-bg.jpg) no-repeat center top / auto auto #8A8F95;
    padding: 130px 0 45px;
}

.cycles {
    padding: 35px 0 0 0;
}

.cta-slide {
    margin: 0 5%;
    height: 347px;
    width: 40% !important;
}

.cta-blurb {
    width: 75%;
}
.home-news, .home-news:visited {
    margin: 0 auto 19px;
}
/* -------------- END OF Home page Large ------------- */

}
/* --------------------------- END OF Large devices (large desktops, 1200px and up) ------------------------ */

/* -------------------------- Medium devices (desktops, 992px and up) ------------------------ */
@media (min-width: 992px) {
   
/* ------------ Header Medium ------------- */


.search-wrapper {
    border-left: 1px solid #6D6D6D;
    display: block;
    float: right;
    margin: 12px 0 0 0;
    padding: 10px 0 10px 10px;
    position: relative;
    width: 170px;
}

#searchBoxInput {
    border: 1px solid #828585;
    font-size: 0.773em;
}

.search-button {
    top: 9px;
}

.navbar {
    margin: 0px;
    padding: 0;
    width: 100%;
    border-radius: 0px !important;
}

.nav {
    float: right;
    list-style-type: none;
    margin: 21px 0 0 0;
    padding: 0;
}

.nav > li {
    float: left;
    display: block;
}

.nav > li > a, .nav > li > a:visited {
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    color: #fff;
    float: left;
    font-size: 0.682em;
    line-height: 1em;
    margin: 0 10px;
    padding: 8px 5px;
    transition: none;
}

.nav > li > a.first {
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

.nav > li > a:hover, .nav > li > a:focus, .nav > li.menuItemHighlight a {
    border-top: 2px solid #BA915E;
    border-bottom: 2px solid #BA915E;
    background: transparent;
    color: #fff;
    text-decoration: none;
}
/* ------------ END OF Header Medium ------------- */

/* ------------ Home Page Medium ------------- */

.cta-wrapper {
    padding: 60px 0 30px;
}

#no-padding {
    padding: 0;
}

.test-slide-wrapper {
    width: 100%;
}

.cycle-slideshow {
    height: 347px;
    width: 100%;
}

.cycle-carousel-wrap {
    height: 347px;
    width: 100%;
}

.cta-slide {
    margin: 0 3%;
    height: 347px;
    width: 44% !important;
}

.cta-content h2 {
    font-size: 1.273em;
}

.cta-content h2 span {
    font-size: 1.286em;
}

.cta-blurb {
    width: 85%;
    xwidth: 350px;
}

.cycles {
    display: block;
    margin: 0 auto;
    padding: 30px 0 0 0;
}

.cycle-prev, .cycle-prev:visited {
    background: #3C3C3C;
    border-radius: 15px 0 0 15px;
    color: #fff;
    display: block;
    float: left;
    margin: 0 5px 0 0;
    padding: 0px 10px 0px 15px;
    text-align: center;
}

.cycle-next, .cycle-next:visited {
    background: #3C3C3C;
    border-radius: 0 15px 15px 0;
    color: #fff;
    display: block;
    float: left;
    margin: 0;
    padding: 0px 15px 0px 10px;
    text-align: center;
}

.cycle-prev:hover, .cycle-prev:focus, .cycle-next:hover, .cycle-next:focus {
    background: #b31a22;
    color: #fff;
    cursor: pointer;
    opacity: 1;
    text-decoration: none;
}

/* ------------ END OF Home Page Medium ------------- */

}
/* -------------------------- END OF Medium devices (desktops, 992px and up) ------------------------ */

/* ---------------------------- Small devices (tablets, 768px and up) ------------------------ */
@media (min-width: 768px) { 
    
/* ----------- Header Small --------------- */




/* -------------- Home Page Small -------------- */

.feature {
    padding: 160px 0 75px 30px;
}

.feature h1 {
    text-align: left;
}

.feature p {
    text-align: left;
    padding: 0;
}

.cta-wrapper {
    padding: 60px 0 60px;
}

.test-slide-wrapper {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 620px;
}

.cycle-slideshow {
    height: 347px;
    width: 100%;
}

.cycle-carousel-wrap {
    width: 100%;
}

.cta-slide {
    background-size: cover;
    margin: 0 20px;
    height: 347px;
    width: 580px !important;
    white-space: normal !important;
}

.cta-blurb {
    position: absolute;
    top: 100px;
    left: 0;
    bottom: 0;
    width: 60%;
}
    
.gray-line {
    background: #777a7f none repeat scroll 0 0;
    display: block;
    float: right;
    height: 1px;
    margin: 0;
    width: calc(100% - 170px);
    position: relative;
    top: 44px;
}
/* -------------- END OF Home Page Small -------------- */

}
/* ---------------------------- END OF Small devices (tablets, 768px and up) ------------------------ */

