<div header></div>
<main>
	<div class="homepage-wrapper">
    <section class="feature-wrapper">
        <div class="feature" style="background-image: url('graphics/images/Red-Background(c).jpg');">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-7 col-lg-6">
              <div class="feature-content">
                  <h1> Welcome To<span>Theta Chi</span></h1>                    <div class="feature-blurb"><p>Theta Chi is one of the oldest men&rsquo;s college fraternities in North America. Founded in 1856, more than 175,000 members have enjoyed the Fraternity&rsquo;s traditions, ideals and fellowship. Our undergraduates are leaders on campus, in the classroom and on the field. We invite you to learn more about who we are and what we do.</p></div>                                            <div class="visible-xs">
                          <div class="outer-center">
                              <div class="inner-center">
                                  <a class="inverse-button" href="about/">Learn more <img class="button-arrow" src="graphics/images/nav-arrow.png" alt="Chevron" title="Chevron" /></a>
                              </div>
                          </div>
                      </div>
                      <div class="hidden-xs">
                          <a class="inverse-button" href="about/">Learn more <img class="button-arrow" src="graphics/images/nav-arrow.png" alt="Chevron" title="Chevron" /></a>
                      </div>
                                      <div class="clear"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      </section>
  </div>
</main>

<div footer></div>